<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<br>

<div ng-controller="CalculatorCtrl as ctrl">
    <table>
        <tr>
            <td colspan="4"><input type="text" ng-model="ctrl.result"/></td>
        </tr>
        <tr>
            <td ng-repeat="num in [7,8,9]"><input type="button" value="{{num}}" ng-click="ctrl.appendNumber(num)"/></td>
            <td><input type="button" value="+" ng-click="ctrl.chooseOperand('+')"/></td>
        </tr>
        <tr>
            <td ng-repeat="num in [4,5,6]"><input type="button" value="{{num}}" ng-click="ctrl.appendNumber(num)"/></td>
            <td><input type="button" value="-" ng-click="ctrl.chooseOperand('-')"/></td>
        </tr>
        <tr>
            <td ng-repeat="num in [1,2,3]"><input type="button" value="{{num}}" ng-click="ctrl.appendNumber(num)"/></td>
            <td><input type="button" value="=" ng-click="ctrl.showResult()"/></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><input type="button" value="0"/></td>
            <td><input type="button" value="C" ng-click="ctrl.reset()"/></td>
        </tr>

    </table>
</div>

</br>

<script src="angular.js"></script>
<script src="app.js"></script>
<script src="ContactListCtrl.js"></script>
<script src="CalculatorCtrl.js"></script>
</body>
</html>